@page
@model IndexModel
@{
    ViewData["Title"] = "Basic Authentication Sample";
}
<h1 class="display-4">Basic Authentication Sample</h1>

<div class="mb-3">
    <h2>Test Endpoints</h2>
    <p>To authenticate enter a user name and provide a password the same as the user name.</p>
    <p><a href="/authenticate/">Authenticate</a></p>
    <p><a href="/unauthorized/">Always fail and prompt for credentials</a></p>
</div>
